@import url('https://fonts.googleapis.com/css?family=Paytone+One|Sniglet:800');

body {
  font-family: sans-serif;
  background-color: #334353;
  color: #fff;
  font-family: 'Paytone One', sans-serif;
}

#title {
  text-align: center;
  font-family: 'Sniglet', cursive;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

#wrapper {
  display: flex;
  justify-content: center;
}
nav {
  background-color: #4b91ad;
  width: 240px;
  border-radius: 20px 0 0 20px;
  box-shadow: #000 15px 15px;
}

nav a {
  display: inline-block;
  margin: 1em 0;
  color: #fff;
  display: block;
  padding: 15px 25px 20px;
  font-size: 26px;
}
nav a:hover {
  background-color: lightseagreen;
}

.content {
  background-color: #a2d6e2;
  width: 800px;
  text-align: center;
  min-height: 480px;
  padding: 20px;
  color: black;
  font-size: 24px;
  border-radius: 0 20px 20px 0;
  box-shadow: #000 15px 15px;
}

.content button {
  background-color: #2552a5;
  border: 0;
  font-size: 24px;
  padding: 10px 20px;
  font-family: 'Paytone One', sans-serif;
  color: #fff;
}

.content a {
  color: #313196;
}

form div {
  margin: 1em;
  display: inline-block;
}

label {
  margin: 10px 0;
}

input {
  background-color: dimgray;
  border: 0;
  padding: 10px;
  font-size: 24px;
  color: #fff;
}
